<!-- Generated template for the Perfil component -->
<div class="perfil">
  <div class="perfil-header">
    <div class="perfil-title">PERFIL</div>
    <figure class="perfil-avatar">
        <img src="assets/imgs/avatar.jpg" alt="Foto de perfil">
    </figure>
    <div class="perfil-starts">
        <ion-col><ion-icon name="star" class="pefil-start"></ion-icon></ion-col>
        <ion-col><ion-icon name="star" class="pefil-start"></ion-icon></ion-col>
        <ion-col><ion-icon name="star" class="pefil-start"></ion-icon></ion-col>
        <ion-col><ion-icon name="star" class="pefil-start"></ion-icon></ion-col>
        <ion-col><ion-icon name="star" class="pefil-start"></ion-icon></ion-col>
    </div>
    <div class="perfil-description">
      <div class="perfil-description-item">
        <div class="perfil-descripction-name">
          Elio Pez
        </div>
        <div class="perfil-description-location">
          Medellin, Colombia
        </div>
      </div>
      <div class="perfil-description-item">
        <div class="perfil-description-button-refer">
          REFERIR A UN AMIGO
        </div>
      </div>
    </div>
  </div>
  <div class="perfil-body">
    <div class="perfil-body-items ">
      <div class="perfil-body-item perfil-body-item-dark">
        <div class="perfil-body-item-icon ">
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
        </div>
        <div class="perfil-body-item-text">Mi perfil</div>
      </div>
      <div class="perfil-body-item">
        <div class="perfil-body-item-icon">
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
        </div>
        <div class="perfil-body-item-text">Mis eventos</div>
      </div>
      <div class="perfil-body-item perfil-body-item-dark">
        <div class="perfil-body-item-icon">
          <ion-icon ios="ios-appstore" md="md-appstore"></ion-icon>
        </div>
        <div class="perfil-body-item-text">Mis compras</div>
      </div>
      <div class="perfil-body-item">
        <div class="perfil-body-item-icon">
          <ion-icon ios="ios-card" md="md-card"></ion-icon>
        </div>
        <div class="perfil-body-item-text">Medio de pago</div>
      </div>
    </div>
    <div class="perfil-body-buttons">
      <div class="perfil-body-button perfil-button-reservation">RESERVAR</div>
      <div class="perfil-body-button perfil-button-write">ESCRÍBENOS</div>
    </div>
  </div>
  <div class="perfil-footer"></div>
</div>
