page-servicios {
    background-color: #f5f5f5;
}

.mis-servicios {
    background-color: #f2f2f2;
}

.servicios {
    margin-bottom: 0;
}

.servicio {
    padding: 0 4%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: inherit;
    align-items: stretch;
}

.servicio-item-add {
    position: absolute;
    right: 6%;
    bottom: 10%;
    color: #d9d9d9;
}


.servicio-figure {
    margin: 3% 2px 3% 0% !important;
    padding: 5%;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 6px #999;
    box-shadow: 0 2px 14px #bdbdbd;
    background-color: white;
}

.servicio-img {
    width: 100%!important;
}


.servicio > .item-inner {
    padding: 0.5em 1.2em !important;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 6px #999;
    box-shadow: 0 2px 16px #bdbdbd;
    margin: 3% 1% 3% 2px;
    background: #fff;
}

.servicio-title {
    font-size: 1.4em!important;
    font-weight: bold!important;
    color: #626262;
    padding-bottom: .4em;
}

.servicio-description {
    font-size: 13px;
    color: #999 !important;
}

.servicios-title {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    color: #a2a2a2;
}

.servicios-top {
    position: relative;
    margin: 0;
}


.servicios-top-icon {
    color: #d9d9d9;
    font-size: 2.5em;
    position: absolute;
    top: 26%;
    /* margin-top: 1%; */
}


ion-label.label.label-md {
    margin: 0;
    white-space: normal;
}

.servicios-aggregates-car-icon {
    font-size: 6em;
}

.servicios-aggregates {
    color: #fff;
    padding: 0;
    font-size: 0.8em;
    margin-top: 3em;
}

.servicios-aggregates>.item-inner {
    border-bottom: none!important; 
    padding: 0!important;
}

.servicios-aggregates-content {
    display: flex;
}

.servicios-agregates-content-item{
    background-color: #bdbdbd;
}

.servicios-aggregates-car {
    padding: 1em;
    flex-basis: 40%;
    text-align: center;
    padding-top: 3em;
}

.servicios-aggregates-body {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 3em;
    border-left: 2px solid white;
    flex-basis: 80%;
}

.servicios-logo {
    background-color: inherit;
}

.servicios-logo-content {
    width: 100%;
    /* text-align: center; */
}

.servicios-logo-img {
    margin: 2em auto;
}

ul.servicios-aggregates-list {
    margin: 0;
    padding: .4em 1em;
}
